.mug , .shirt , .giftcard , .owner , .andrea , .lea ,.window , .latte {
    height: 500px;
}

.logo {
    height: 250px;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}