.logo {
    height: 250px;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

@media (min-width: 768px) { 
    .logo {
        height: 400px;
    }
}

.skip-links a{
    position: absolute;
    top: -3em;
    background-color: black;
    color:white;
}
/*Adds accessibility to jump from page items*/
.skip-links{
    list-style: none;
    margin: 0;
    padding: 0;
  }
